# Java
*.class
*.jar
*.war
*.ear

#IDEs
/.idea/
/*.iml
/.classpath
/.project
/.settings

#Build
/build/
/out/

#MacOs
.DS_Store

#Logs
*.log

#Node.js
node_modules/

#Python
__pycache__/
*.pyc

#Otros
.env
.vscode/
